body {
  color: #323232;
  margin: 0 auto;
}

nav h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

nav p {
  font-family: 'PT Sans', sans-serif;
  font-size: .9em;
}

ul {
  list-style: none;
}

nav li {
  display: inline;
}

nav {
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 h2 {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.875em;
}

h2 {
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
}


/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
