body {
  margin: 0;
  color: #323232;
}

h1 h2 {
  font-family: PT Sans Narrow, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.875em;
}

h2 {
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
}

h3{
  font-family: PT Serif, serif;
  font-size: 1em;
  line-height: 2em;
}

p{
  font-family: PT Serif, serif;
  font-size:.875em;
  line-height: 1.75em;
}

a{
  font-family: PT Serif, serif;
  font-weight: bold;
  font-size: 1em;
  color: #f26522;
}

nav h1{
  font-family: PT Sans Narrow, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

nav p{
  font-family: PT Sans, sans-serif;
  font-size: .9em;
}

footer h1{
  font-family: PT Sans Narrow, sans-serif;
  font-weight: bold;
  font-size: 1.25em;
}

/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
